/* Variables */

:root{
	
	--main-color: #FF6620;
	--accent-color: #003A49;
/*	--complementary-color: inherit;*/
	--text-color: #0D1720;
	
}

/* Fonts */

@font-face{
	
	src: url("../assets/fonts/helvetica.otf");
	font-family: 'Helvetica';
	
}

@font-face{
	
	src: url("../assets/fonts/helvetica-bold.otf");
	font-family: 'Helvetica';
	font-weight: 700;
	
}

/* Default Behavior */

html{scroll-behavior: smooth;}
body:has(dialog[open]){overflow: hidden;}
body, html{margin: 0; font-family: Helvetica, sans-serif; background-color: #F4F3F2;}

h1{font-size: 4rem;}
h2{font-size: 1.5rem; font-weight: 500; color: var(--main-color);}
h3, h4{font-size: 2.25rem; font-weight: 700;}

mark{color: var(--main-color);}

a{text-decoration: none; color: inherit;}

img,
svg{max-width: 100%; vertical-align: bottom;}

input[type="text"],
textarea{padding: 15px 10px; flex: 0 1 100%; border: 1px solid #7C858C; border-radius: 5px; color: #7C858C; font-size: 0.875rem; font-family: inherit; resize: none;}
textarea{height: clamp(170px, 170px, 170px); flex: initial;}
input[type="radio"]{appearance: none; aspect-ratio: 1; width: 18px; vertical-align: bottom; border: 2px solid var(--main-color); border-radius: 50%; cursor: pointer;}
input[type="radio"]:checked{outline: 5px solid var(--main-color); outline-offset: -18px;}
label:has(input){width: 100%; padding: 20px 0; border: 1px solid #7C858C; filter: drop-shadow(7px 12px 30px rgba(0, 58, 73, 0.76)); border-radius: 5px; gap: 10px; align-items: center;}

dialog{width: 1000px; left: 50%; top: 50%; transform: translate(-50%, -50%); background: #F4F3F2; box-shadow: 7px 14px 30px rgb(11 46 55 / 25%); border-radius: 20px; padding: 40px; gap: 20px; transition: all .3s ease;}
dialog:not([open]){pointer-events: none; opacity: 0;}
dialog::backdrop{background-color: rgba(0 0 0 / 80%);}
dialog h5{font-size: 2.25rem; font-weight: 500; color: #0D1720;}
dialog button{cursor: pointer;}
dialog header .row{justify-content: space-between;}
dialog header p{font-size: 1.25rem;}
dialog .body{grid-template-columns: repeat(2, 1fr);}
dialog .body p{font-size: 0.875rem;}
dialog .body img{background-color: #D9D9D9;}
dialog > button{margin: auto;}

table{border-radius: 20px; overflow: hidden; border-collapse: collapse;}
table th{padding: 10px 0;}
table th:not(:last-child){border-right: 3px solid #F4F3F2;}
table thead th{font-size: 1.25rem; font-weight: 700;}
table tbody th{font-size: 0.875rem; font-weight: 500;}
table tbody tr:nth-child(2n - 1){background-color: #49748A; color: #fff;}
table tbody tr:nth-child(2n){color: var(--accent-color);}

*{box-sizing: border-box; margin: 0; border: 0; background-color: initial;}
*[data-dialog]{cursor: pointer;}
*::selection{background-color: var(--accent-color); color: #fff;}

/* Helper Classes */

.content{width: 1200px; max-width: 90vw; margin: auto;}

.row,
.grid,
.column{display: flex; gap: inherit;}
.column{flex-direction: column;}
.grid{display: grid;}

.btn{margin-top: auto; text-transform: uppercase; font-size: 0.75rem; letter-spacing: .25em; color: var(--main-color); padding: 15px 60px; border: 1px solid; width: fit-content; user-select: none; cursor: pointer; transition: all .2s ease;}
.btn:hover{background-color: var(--accent-color); border-color: var(--accent-color);}

.accentBg{background-color: var(--accent-color); color: #fff;}
.accentBg *::selection{background-color: var(--main-color);}
.accentBg .btn:hover{background-color: var(--main-color); border-color: var(--main-color); color: #fff;}

wm-slider.grid{grid-template-columns: 50px 1fr 50px;}
wm-slider.grid > *{grid-row: 1;}
wm-slider.grid wm-slider-controls{position: relative; z-index: 1; background-color: var(--accent-color);}
wm-slider.grid wm-slider-controls:first-child{grid-column: 1;}
wm-slider.grid wm-slider-controls:last-child{grid-column: 3; justify-content: flex-end;}
wm-slider.grid wm-slider-mat{grid-column: 1 / span 3; margin: 0 50px;}

.scrollSnap{scroll-snap-align: start; scroll-margin-top: 50px;}

form{width: 100%; gap: 20px 12px !important; margin-top: 50px;}
form label:has(input) i{margin-top: 10px;}
form label:has(input) i + p{color: #7C858C; font-size: 0.875rem; margin-bottom: 5px;}
form label:has(input) input + p:empty:before{content: 'Nenhum arquivo selecionado'; color: #EF0027; font-size: 0.625rem;}
form .btn{margin: auto;}
form .labeled{align-items: flex-start; gap: 7px;}
form .labeled label:first-child{font-size: 0.75rem; color: #7C858C; font-weight: 700;}

article.iconed{padding: 30px 10px; box-shadow: 7px 14px 30px rgb(11 46 55 / 25%); border-radius: 20px; align-items: center; text-align: center; gap: 20px;}
article.iconed h5{font-size: 1rem; font-weight: 500;}
article.iconed p{font-size: 0.875rem; font-weight: 500;}

article.longWhiteCard{padding: 30px 20px; align-items: center; text-align: center; gap: 20px; background: #F4F3F2; box-shadow: 7px 14px 30px rgba(55, 59, 60, 0.15); border-radius: 20px;}
article.longWhiteCard h5{font-size: 1.5rem;}
article.longWhiteCard h6{font-size: 1rem; font-weight: 500;}
article.longWhiteCard p{font-size: 0.875rem; color: #7C858C;}
article.longWhiteCard .thumb{width: 160px; height: 160px; overflow: visible;}
article.longWhiteCard .thumb img{transform: translateY(calc(160px - 100%));}

/* Header */

header#mainHeader .content{justify-content: space-between; align-items: center; gap: 20px;}
header#mainHeader > .content{padding: 25px 0; font-family: 'Montserrat', sans-serif;}
header#mainHeader .topBar{color: #fff; padding: 5px 0; font-size: 0.75rem;}
header#mainHeader .topBar .row:last-child{gap: 5px;}
header#mainHeader .topBar .row{align-items: center;}
header#mainHeader .topBar a:has(svg){display: flex; align-items: center; gap: inherit;}
header#mainHeader nav{gap: 30px; font-size: 0.625rem; font-weight: 500; align-items: center;}
header#mainHeader nav a.active{color: var(--main-color);}
header#mainHeader nav a:hover{font-size: 0.75rem;}
header#mainHeader nav section.dropdownWrapper{position: relative; padding: 20px 0; cursor: pointer;}
header#mainHeader nav section.dropdownWrapper nav{position: absolute; white-space: nowrap; gap: 30px; padding: 40px 25px; background-color: #fff; left: 50%; top: 100%; transform: translateX(-50%); align-items: center; text-align: center; cursor: initial; opacity: 0; pointer-events: none; transition: all .3s ease;}
header#mainHeader nav section.dropdownWrapper:hover nav{opacity: 1; pointer-events: all;}

/* Footer */

footer#mainFooter{padding-top: 100px;}
footer#mainFooter .content{background-color: var(--text-color); padding: 60px 100px; gap: 100px;}
footer#mainFooter .content .row{gap: 40px 60px;}
footer#mainFooter .content .column:last-child{margin-left: auto; text-align: right; gap: 40px;}
footer#mainFooter .content .column:last-child .row{gap: 24px;}
footer#mainFooter .content .column:last-child svg{width: 18px; height: auto;}
footer#mainFooter .content .column:last-child path{fill: var(--main-color);}
footer#mainFooter .logo svg{width: 290px; height: auto;}
footer#mainFooter .logo svg path:nth-child(12) ~ path{fill: #fff;}
footer#mainFooter address{font-style: initial;}

/* Main */

main .content{width: 1000px;}

/* Banner */

section#banner{padding: 36px 0;}
section#banner .content{aspect-ratio: 1000/540; background: url("../assets/images/home/banner.jpg") no-repeat right / contain; border-radius: 20px;}
section#banner header{height: 100%; width: 55%; padding: 20px 0; gap: 20px;}
section#banner header a{margin-top: auto;}

/* Home */

	/* Centered */

main#home section#centered{width: 1200px; margin: auto; padding: 50px 0; background-color: #fff; gap: 60px;}
main#home section#centered header.grid{grid-template-columns: repeat(2, 1fr); gap: 20px;}
main#home section#centered header h3{align-self: end; padding-bottom: 40px;}
main#home section#centered header h4{padding-top: 30px;}

	/* Understand Water */

main#home section#understandWater{gap: 50px;}
main#home section#understandWater wm-slider{--row-count: 5; position: relative;}
main#home section#understandWater wm-slider article{align-items: center; text-align: center; font-size: 0.75rem; gap: 15px; padding: 10px; margin: 0 20px;}
main#home section#understandWater wm-slider article h5{font-weight: 700; font-size: 0.75rem; color: var(--main-color); text-transform: uppercase;}
main#home section#understandWater wm-slider-mat{margin: 0 100px;}
main#home section#understandWater wm-slider-controls{position: absolute; top: 50%; left: 50px; right: 50px; pointer-events: none; transform: translateY(-50%);}
main#home section#understandWater wm-slider-trigger{font-size: initial; background-color: #fff; border-radius: 10px; pointer-events: all;}
main#home section#understandWater a{margin: auto;}

	/* Video */

main#home section#video{gap: 30px 20px;}
main#home section#video :is(p, h3){font-size: 1.5rem;}

/* Info */

main#home section#info{padding: 100px 0;}
main#home section#info .content{grid-template-columns: repeat(5, 1fr); gap: 30px 20px;}
main#home section#info h3{grid-column: 1 / span 5; margin-bottom: 20px;}
main#home section#info article{gap: 20px; padding: 30px 35px; box-shadow: 7px 14px 30px rgba(11, 46, 55, 0.25); border-radius: 20px; align-items: center; text-align: center; color: #F4F3F2; justify-content: center; transition: all .2s ease;}
main#home section#info article path{transition: all .2s ease;}
main#home section#info article[data-dialog]:hover{color: var(--accent-color); background-color: var(--main-color);}
main#home section#info article[data-dialog]:hover path{fill: var(--accent-color);}
main#home section#info article header{gap: 4px;}
main#home section#info article h5{font-size: 1rem; font-weight: 500;}
main#home section#info article p{font-size: 0.75rem; font-weight: 300;}

/* How To */

main#home section#howTo{padding: 50px 0;}
main#home section#howTo h3{font-size: 2rem;}
main#home section#howTo wm-slider{margin: 10px 40px 0 0;}
main#home section#howTo wm-slider-controls{grid-template-columns: repeat(3, min-content); grid-template-areas: 'left dots right'; user-select: none;}
main#home section#howTo wm-slider-trigger[slide-to="left"]{grid-area: left;}
main#home section#howTo wm-slider-trigger[slide-to="right"]{grid-area: right;}
main#home section#howTo wm-slider-trigger:is([slide-to="left"], [slide-to="right"]){color: var(--main-color);}
main#home section#howTo .dots{gap: 20px; grid-area: dots;}
main#home section#howTo .dots wm-slider-trigger{width: 10px; aspect-ratio: 1; border-radius: 50%; background-color: #D9D9D9; transition: all .2s ease;}
main#home section#howTo .dots wm-slider-trigger:--active{background-color: #0058B8;}
main#home section#howTo :is(
	.dots:has(wm-slider-trigger:first-child:--active) ~ wm-slider-trigger[slide-to="left"],
	.dots:has(wm-slider-trigger:last-child:--active) ~ wm-slider-trigger[slide-to="right"]){opacity: 0.5;}
main#home section#howTo article{padding: 25px 20px; color: #fff; gap: 15px;}
main#home section#howTo article h5{font-size: 1.25rem; color: var(--main-color);}
main#home section#howTo article p{font-size: 0.875rem;}
main#home section#howTo .content{grid-template-columns: calc(100% - 730px) 705px; gap: 15px 25px;}
main#home section#howTo .content:after{content: ''; background-image: url('../assets/images/home/howTo.png'); aspect-ratio: 707/403;}

/* Data Collection */

main#home section#dataCollection{padding-bottom: 60px;}
main#home section#dataCollection h3{font-size: 2rem; font-weight: 500;}
main#home section#dataCollection .content{gap: 45px;}
main#home section#dataCollection .row{gap: 10px; justify-content: center;}
main#home section#dataCollection article{width: 135px; padding: 35px 10px; align-items: center; justify-content: center; text-align: center; box-shadow: 7px 14px 30px rgba(11, 46, 55, 0.25); border-radius: 20px; gap: 20px;}
main#home section#dataCollection article h5{font-size: 0.75rem; font-weight: 500; line-height: 1rem;}

/* Results */

main#home section#results{padding-bottom: 60px;}
main#home section#results .content{gap: 60px;}
main#home section#results .content .column{gap: 0;}
main#home section#results .grid{padding: 20px 30px; align-items: center; grid-template-columns: 1fr 50px; gap: 60px; background-color: var(--bg-color); font-size: 1.5rem; color: #fff; line-height: 1.875rem;}

/* Full */

section.full{padding: 70px calc(100vw/1400 * 100);}

/* Despositions */

main#home section#depositions{gap: 40px;}
main#home section#depositions h3{text-align: center;}
main#home section#depositions article{width: 600px; max-width: 100%; margin: auto; background: #49748A; border-radius: 20px; padding: 20px 30px; gap: 35px; margin-top: 50px;}
main#home section#depositions article header{margin-top: -50px; align-items: flex-end;}
main#home section#depositions article img{width: 100px; border: 10px solid #49748A; border-radius: 50%;}
main#home section#depositions article h5{font-size: 1.25rem;}
main#home section#depositions article h6{color: var(--main-color); font-size: 0.875rem; font-weight: 500;}
main#home section#depositions article .title{gap: 0; padding-bottom: 10px;}

/* Blog Articles */

main#home section#blogArticles{gap: 25px;}
main#home section#blogArticles wm-slider{--row-count: 2.5;}
main#home section#blogArticles h3{font-size: 1.5rem; margin-left: 60px;}
main#home section#blogArticles article{padding: 0 10px; gap: 30px;}
main#home section#blogArticles article img{border-radius: 10px;}
main#home section#blogArticles article h5{color: #F4F3F2; font-size: 1.25rem; font-weight: 500;}

/* Partners */

main#home section#partners{gap: 30px;}
main#home section#partners h3{text-align: center;}
main#home section#partners .scrollWrap{overflow: hidden; position: relative;}
main#home section#partners .scrollWrap:before{content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-image: linear-gradient(90deg, #003A49 2.6%, rgba(0, 58, 73, 0) 38.54%, rgba(0, 58, 73, 0) 61.46%, #003A49 98.44%); z-index: 1;}
main#home section#partners .scrollMat{grid-auto-flow: column; grid-template-rows: 1fr; grid-template-columns: calc(10% - 20px); gap: 20px;}
main#home section#partners .scrollMat span{aspect-ratio: 1; background-color: #fff; color: #000; display: flex; align-items: center; justify-content: center; border-radius: 50%;}

/* Blog */

main#home section#blog{padding: 30px 0 60px;}
main#home section#blog .content{gap: 60px 20px;}
main#home section#blog .blog{gap: 25px; align-items: flex-start;}
main#home section#blog .blog > .column{gap: 10px; padding: 10px; background-color: #fff; height: 445px;}
main#home section#blog .blog > .column .scroll{overflow: auto;}
main#home section#blog .blog > .column .scroll::-webkit-scrollbar{display: none;}

	/* Follow Us */

main#home section#followUs h5{font-size: 1.5rem; color: var(--accent-color);}
main#home section#followUs svg{width: 72px; height: auto;}
main#home section#followUs svg path{fill: var(--accent-color);}
main#home section#followUs .instaBox{border: 2px solid #003A49; border-radius: 10px; padding: 0 60px; align-items: center; gap: 50px; text-align: center; justify-content: center;}
main#home section#followUs .instaBox .btn{margin-top: initial;}
main#home section#followUs .grid{grid-template-columns: repeat(3, 1fr); gap: 5px;}

	/* Contact */

main#home section#contact form{padding: 80px 100px; gap: 25px;}
main#home section#contact form .row{gap: 8px 20px;}
main#home section#contact form .column{flex: 0 1 100%; gap: 8px;}
main#home section#contact :is(input, textarea){padding: 12px 16px; border: 2px solid #d9d9d9; border-radius: 8px; color: #fff; font-family: inherit; font-size: .9rem;}
main#home section#contact :is(input, textarea)::placeholder{color: #d9d9d9;}
main#home section#contact textarea{resize: none; height: clamp(170px, 170px, 170px);}

/* Blog */

section#posts .content{grid-template-columns: repeat(3, 1fr); gap: 15px 20px; align-items: start;}
section#posts article{border-radius: 20px; overflow: hidden;}
section#posts article h5{font-size: 1rem;}
section#posts article h6{font-size: 0.875rem;}
section#posts article .banner{background-image: url('../assets/images/blog/article-bg.jpg'); gap: 30px; padding: 20px;}
section#posts article .banner > p{margin-top: auto;}
section#posts article .banner .row{justify-content: space-between; gap: 10px; align-items: center; text-transform: uppercase; font-size: 0.625rem; font-weight: 700;}
section#posts article .author{padding: 10px 20px; align-items: center; gap: 10px;}
section#posts a:not(:first-child) article{background-color: #809B4C;}
section#posts a:not(:first-child) article .banner > p{font-size: 0.625rem; line-height: 0.75rem; margin-top: 30px;}
section#posts a:not(:first-child) article .author circle:first-child{fill: #45683D;}

main#blog a:first-child{grid-column: 1 / span 3;}
main#blog a:first-child article{margin-bottom: 15px;}
main#blog a:first-child article .banner{aspect-ratio: 1000/463; padding: 40px; gap: 50px;}
main#blog a:first-child article .banner .row{font-size: 0.75rem;}
main#blog a:first-child article .author{padding: 20px 40px;}

main#article section#posts{padding: 30px 0 20px;}
main#article section#posts h3{grid-column: 1 / span 3;}
main#article section#posts .content{gap: 30px 20px;}

/* Article Single */

main#article article#single header{padding: 30px 0 120px;}
main#article article#single header p{text-transform: uppercase; font-size: 0.75rem; font-weight: 700;}
main#article article#single header h1{font-size: 1.5rem;}
main#article article#single header h2{color: #fff; font-size: 0.875rem; flex: 0 1 100%; font-weight: 700;}
main#article article#single header time{gap: 10px; text-transform: uppercase; font-size: 0.75rem; align-items: center; font-weight: 700;}
main#article article#single header .content{gap: 20px 130px;}
main#article article#single header .column:last-child{width: fit-content; white-space: nowrap; align-items: flex-end; gap: 5px; justify-content: flex-end;}
main#article article#single header .author{align-items: center; gap: 10px;}
main#article article#single header .author i{flex: 0 0 auto; width: 32px;}
main#article article#single header + section{margin-top: -100px; font-size: 1.5rem; padding-bottom: 30px;}
main#article article#single header + section img{border-radius: 20px;}
main#article article#single header + section .content{gap: 20px;}

/* Trabalhe Conosco */

	/* Banner */

main#trabalhe-conosco section#banner header{width: 70%;.}

	/* Curriculum */

main#trabalhe-conosco section#curriculum{padding: 30px 0 0;}
main#trabalhe-conosco section#curriculum h4{font-size: 1.5rem; margin: 65px 0 15px;}
main#trabalhe-conosco section#curriculum h4 mark{color: #0058B8;}
main#trabalhe-conosco section#curriculum a.linkedin{background-color: #0058B8; padding: 8px; border-radius: 3px;}
main#trabalhe-conosco section#curriculum .content{align-items: center; text-align: center;}

/* Contato */

main#contato section#contact .group{justify-content: space-between; padding: 25px 20px; border: 1px solid #7C858C; border-radius: 5px; color: #7C858C; font-size: 0.875rem; gap: 10px;}
main#contato section#contact .group .row{align-items: center;}

/* On Boarding */

section#onboarding{padding: 20px 0;}
section#onboarding .content{gap: 20px;}
section#onboarding h1{font-size: 3rem;}

/* Onboarding Slider */

section#onboardingSlider{grid-template-columns: calc(100% - 100vw/1400*550) calc(100vw/1400*550); gap: 60px 0;}
section#onboardingSlider:after{content: ''; aspect-ratio: 720/653; background: url("../assets/images/onboarding/bem-vindo/material-de-apoio.png") no-repeat center / cover;}
section#onboardingSlider > .column{padding-left: 175px;}
section#onboardingSlider wm-slider{gap: 40px; --row-count: 2.2;}
section#onboardingSlider article{height: 100%; gap: 30px; padding: 30px 20px; justify-content: space-between; align-items: center; margin: 0 10px; border-radius: 20px;}
section#onboardingSlider article h5{font-size: 1rem; font-weight: 500;}
section#onboardingSlider article p{font-size: 0.875rem;}
section#onboardingSlider article .btn{margin-top: 0;}

/* Bem Vindo */

	/* Integration */

main#bem-vindo section#integration{padding: 40px 0 30px;}
main#bem-vindo section#integration .content{grid-template-columns: 1fr 603px; gap: 20px;}
main#bem-vindo section#integration .content:after{content: ''; aspect-ratio: 603/340; background: url("../assets/images/onboarding/bem-vindo/integration.jpg") no-repeat center / cover;}

	/* Meeting */

main#bem-vindo section#meeting{padding: 60px 0;}
main#bem-vindo section#meeting .content{gap: 55px 20px;}
main#bem-vindo section#meeting h3{font-size: 2rem;}
main#bem-vindo section#meeting header{grid-template-columns: 1fr 600px; align-items: center;}
main#bem-vindo section#meeting header .column{gap: 20px;}
main#bem-vindo section#meeting i.logo svg{width: 100%; height: auto;}
main#bem-vindo section#meeting article.diferentials{grid-template-columns: repeat(3, 1fr); gap: 30px 20px;}
main#bem-vindo section#meeting article.diferentials > h5{font-size: 1.25rem; grid-column: 1 / span 3;}

	/* Addresses */

main#bem-vindo section#addresses{padding: 60px 0;}
main#bem-vindo section#addresses .content{gap: 30px 20px; grid-template-columns: repeat(2, 1fr);}
main#bem-vindo section#addresses h3{grid-column: 1 / span 2; font-size: 2rem;}
main#bem-vindo section#addresses article{padding: 30px 20px; box-shadow: 7px 14px 30px rgb(11 46 55 / 25%); border-radius: 20px; gap: 20px; align-items: center; text-align: center;}
main#bem-vindo section#addresses article h5{font-size: 1rem; font-weight: 500;}
main#bem-vindo section#addresses article address{font-style: initial; font-size: 0.875rem;}

	/* Purpose */

main#bem-vindo section#purpose{padding: 60px 0;}
main#bem-vindo section#purpose img{margin: 30px 0 -30px;}
main#bem-vindo section#purpose .grid{padding: 0 20px; grid-template-columns: repeat(3, 1fr); gap: 20px;}

	/* Deliver */

section#deliver{padding: 30px 0;}
section#deliver .content{gap: 30px 20px; grid-template-columns: repeat(3, 1fr);}
section#deliver h3{grid-column: 1 / span 3;}

/* Onboarding contact */

main#onboarding-contato section#onboarding h1{margin-bottom: 30px; text-align: center;}

/* Beneficios */

	/* Onboarding Slider */

main#beneficios section#onboardingSlider{padding: 80px 0;}
main#beneficios section#onboardingSlider:after{background-image: url("../assets/images/onboarding/bem-vindo/beneficios.png"); margin-right: 5vw;}
main#beneficios section#onboardingSlider article{justify-content: initial; gap: 30px;}
main#beneficios p.content{grid-row: 2; grid-column: 1 / span 2; font-size: 0.875rem; color: #7C858C;}

/* Tangerino */

	/* Control */

main#tangerino section#control{counter-reset: articles;}
main#tangerino section#control article{height: 100%; margin: 0 10px; counter-increment: articles;}
main#tangerino section#control article .thumb{width: 160px; height: 160px; overflow: visible; align-items: center; justify-content: center; font-size: 4rem; font-weight: 700;}
main#tangerino section#control article .thumb:before{content: counter(articles);}
main#tangerino section#control article .thumb:before,
main#tangerino section#control article .thumb *{grid-row: 1; grid-column: 1;}
main#tangerino section#control wm-slider{--row-count: 3.5; padding: 35px 0;}
main#tangerino section#control wm-slider-controls{background-color: #F4F3F2;}

	/* Steps */

main#tangerino section.steps{padding: 60px 0;}
main#tangerino section.steps .content{gap: 40px 20px; grid-template-columns: repeat(2, 1fr);}
main#tangerino section.steps .content header{grid-column: 1 / span 2; gap: 10px;}
main#tangerino section.steps article{gap: 20px; padding: 30px 20px; text-align: center; align-items: center; box-shadow: 7px 14px 30px rgba(11, 46, 55, 0.25); border-radius: 20px;}
main#tangerino section.steps article h5{font-size: 1rem; font-weight: 500;}
main#tangerino section#correcao article:last-child{grid-column: 1 / span 2; margin: auto; width: 50%;}

/* Documentos */

	/* onBoarding */

main#documentos section#onboarding .row{justify-content: center;}
main#documentos section#onboarding h1{text-align: center; margin-bottom: 10px;}
main#documentos section#onboarding article{border: 1px solid #7C858C; filter: drop-shadow(7px 12px 30px rgba(0, 58, 73, 0.76)); border-radius: 5px; padding: 20px 25px; align-items: center; justify-content: center; width: 190px;}
main#documentos section#onboarding article header{align-items: center; padding: 5px 0;}
main#documentos section#onboarding article h5{font-size: 0.875rem; font-weight: 500; color: #7C858C;}
main#documentos section#onboarding article p{color: var(--main-color); font-size: 0.625rem;}

/* Entrega de Valor */

main#entrega-de-valor section#entrega{gap: 60px; counter-reset: articles;}
main#entrega-de-valor section#entrega .row{gap: 25px; align-items: flex-start; justify-content: center;}
main#entrega-de-valor section#entrega article{padding: 30px 20px; align-items: center; gap: 20px; background: #F4F3F2; box-shadow: 7px 14px 30px rgb(55 59 60 / 15%); border-radius: 20px;}
main#entrega-de-valor section#entrega article header.row{align-items: center; counter-increment: articles;}
main#entrega-de-valor section#entrega article i.thumb{flex: 0 0 160px; height: 160px; align-items: center; font-size: 4rem; font-weight: 700; text-align: center; font-style: initial;}
main#entrega-de-valor section#entrega article i.thumb:before{content: counter(articles);}
main#entrega-de-valor section#entrega article i.thumb:before,
main#entrega-de-valor section#entrega article i.thumb *{grid-row: 1; grid-column: 1;}
main#entrega-de-valor section#entrega article h5{font-size: 1.5rem;}
main#entrega-de-valor section#entrega article p{font-size: 0.875rem; color: #7C858C; width: 100%;}

/* 404 */

main#not-found section#banner .content{background: url("../assets/svgs/not-found.svg") no-repeat right / contain;}